<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="LocalVAutomationCoreLibs" value="C:\Users\coyot.RWE\OneDrive\Documents\Vauto (4)\VProgress\All projects\VAutomationCore\libs" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
